.chumchum{
        margin-top: 20px;
}
.thanos{
    margin-left: 150px;
}
.nuevo_usuario{
     font-size: 30px;
     font-weight: bolder;
     text-align: center;
}
.nuevo_lista{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}
.nuevo_categoria{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}
